main {

  .contactus {

    ul {
      list-style: none;
      text-align: left;
      width: 30rem;

      @include tablet {
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 0 0 3rem 0;
        margin: auto;
      }
    }

    h3 {
      padding-bottom: 1rem;
    }

    a:link, a:visited {
      color: $white;
    }
  }

  form {
    border: 1px solid $white;
    padding: 1rem;

    @include tablet {
        width: 60%;
        margin: auto;
    }

    input {
      display: block;
      width: 100%;
      margin: .25rem 0;
      background-color: $white;
    }

    textarea {
      height: 10rem;
      width: 100%;
      padding: 1em;
      font-family: $copy-font;
    }

    .submit {
      color: $white;
      border: 1px solid $white;
      background-color: $plum;
      padding: .5rem;
      margin-top: 1rem;
    }

    .submit:hover {
      background-color: $grey;
    }
  }

}
