.grid-main {
	width: 100%;
	margin: auto;

	@include tablet {
			width: 95%;
			margin: 0;
			padding: 1rem;
		}

	@include laptop {
			width: 900px;
			margin: auto;
	}


.content {
	margin: auto;

	@include phablet {
		width: 400px;
	}
}

@include tablet {
		.grid-main {
			width: 75%;
		}

		.content {
			width: 100%;
		}

		.grid {
			column-count: 3;
		  -webkit-column-count: 3;
		  column-gap: 0;
		  -webkit-column-gap: 0;
		}

		.grid__item {
			break-inside: avoid;
			-webkit-column-break-inside: avoid;
			padding: 5px;
		}
}

}
